<div class="container footer-main-container">
  <div class="footer-wrap">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-12">
        <i class="fa fa-phone" aria-hidden="true"></i> <p>123.456.7890</p>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <i class="fa fa-envelope-o" aria-hidden="true"></i> <p><a href="mailto:jennshinstudios@gmail.com?Subject=Hello" target="_top">jennshinstudios@gmail.com</a></p>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <i class="fa fa-map-marker" aria-hidden="true"></i> <p><a href="https://goo.gl/maps/jmZCLRhYvLH2"> Fishers Lane Studio 121 Rockville, MD 20852</a></p>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <i class="fa fa-clock-o" aria-hidden="true"></i> <p>Mon - Sat <br>9am - 6pm*</p>
        <p class="">*Last Coloring: 2:30pm, Last Cut: 5:30pm</p>
      </div>
    </div>
  </div>
</div>
