<div class="container header-main-container">
  <div class="nav-container">
    <div class="title-splash">
      <h1>Jenn Shin <br>Studios</h1>
    </div>
    <div class="nav-links">
      <div class="local-nav">
        <a href="#">Services</a>
        <a href="#">Stylists</a>
        <a href="#">Gallery</a>
        <a href="#">Directions & Hours</a>
      </div>
      <div class="booking">
        <button class="booking-btn"><h5>Online <br>Booking</h5></button>
      </div>
    </div>
  </div>
</div>
