<div class="container header-main-container">
  <div class="nav-container">
    <div class="title-splash">
      <h3 ui-sref="home">Jenn Shin <br>Studios</h3>
    </div>
    <div class="nav-links">
      <div class="local-nav">
        <a ui-sref="stylists">Stylists</a>
        <a ui-sref="services">Services</a>
        <a ui-sref="gallery">Gallery</a>
        <a ui-sref="info">Directions & Hours</a>
      </div>
      <div class="booking">
        <button class="booking-btn"><h5>Online <br>Booking</h5></button>
      </div>
    </div>
  </div>
</div>
