// Google fonts import
@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');

// Font Variables
$oswald: 'Oswald', sans-serif;
$nunitoSans: 'Nunito Sans', sans-serif;
$ptSans:'PT Sans', sans-serif;

body{
  background: #DADADA;
  color: white;
  font-family: $ptSans;
}

a{color: white;}

// ------ Header Directive Styling ------
.header-main-container {
  border-bottom: 1px solid white;
  margin-bottom: 20px;
  .nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .title-splash{
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 10px;
    }
    .nav-links a {
      margin-right: 10px;
    }
    .nav-links{
      display: flex;
      justify-content: space-between;
      align-items: center;
      .local-nav{
        width: 90%;
        display: flex;
        text-transform: uppercase;
        justify-content: space-around;
        text-transform: uppercase;
        letter-spacing: 1px;
      }
      .booking{
        .booking-btn{
          padding: 0 20px;
          background: none;
          border: 1px solid white;
          letter-spacing: 3px;
        }
        .booking-btn h5 {
          text-transform: uppercase;
          letter-spacing: 3px;
        }
      }
    }
  }
}

// ------ Footer Directive Styling ------
.footer-main-container {
  .footer-wrap{
    text-align: center;
    border-top: 1px solid white;
    padding-top: 20px;
    margin-top: 20px;
  }
}

// ------ Home View Styling ------
.home {
  font-family: $ptSans;
  background: url('../images/marble.jpg');
  width: 80%;
  margin: 0 auto;
  .home-title{
    color: #DDBF92;
    text-align: center;
    letter-spacing: 3px;
    margin: 10% 0;
  }
  .home-title-sub{
    letter-spacing: 12px;
    color: #ABABAB;
  }
}
